body{
    background-color: gray;
    font-family: serif;
    font-weight: 1000; 
    text-align: center;
    font-size: 40px;
}
h1{
    font-size: 96px;
}  
.btn{
    background-color: black;
    width: 130px;
    height: 60px;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
}
.btn span {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.yan{
    display: flex;
    justify-content: center;
    gap: 20px;              
    margin-top: 20px;
}